body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  padding: 30px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.startBtn {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #1e293b;
}

th,
td {
  border: 1px solid #334155;
  padding: 10px;
  text-align: center;
}

.visualizer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 20px;
}

.queue,
.cpu,
.completed {
  flex: 1;
  background: #1e293b;
  min-height: 250px;
  padding: 15px;
  border-radius: 10px;
}

.process-box {
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: all 1s ease;
}

.ready {
  background: orange;
}

.running {
  background: limegreen;
  transform: scale(1.15);
}

.completed-box {
  background: gray;
}

.gantt {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.block {
  background: #22c55e;
  padding: 20px;
  min-width: 80px;
  text-align: center;
  border-radius: 6px;
}